# Ignore vscode
**.vscode

# Ignore virtual environment
**venv

# Ignore tfstate
*.tfstate
**tfstate.*

# Ignore terraform installs
**.terraform

# Ignore pem file(s)
**.pem

# Don't ask why this happened often enough to warrant inclusion...
crash.log

# Ignore vim swap files
**.swp

# Ignore the Lambda .zip file
**.zip
